body {
background-image: url("water.jpg")
}

.mainpage-container {
    display: flex;
    align-content: center;
    justify-content: center;
   
    width: 100vw;
    height: 100vh;
  }

.splash-window {
  height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px

}

@media only screen and (max-width: 600px) {
  .splash-window {
    margin-top: 20% 
  }
}

.main_button {
  z-index: 2;
  background-color: rgb(3, 150, 199);
  border: rgb(1, 134, 179);
  border: none;
  color: white;
  padding: 2%;
  text-align: center;
  margin: 2%;

  font-size: 25px;
  width: 50%;
  cursor: pointer;
}

.main_button:hover {
background-color: rgb(2, 167, 223);
}

h2 {
  margin-top: 5%;
  font-family: cursive;
  font-size: x-large;
}

.logo-main {
  background-image: url(/static/media/logo-no-back.7a39142d.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 108px;
  width: 350px;
}

p {
  width: 80%;
  text-align: center;
  margin: 3% 0 5%;
}