
.input-form {
  margin: 10%;
  display: flex;
  justify-content: center;
}

.checkbox-container {
  display: flex;
}

.symptoms {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 20vw;
  /* height: 40vh; */
  border-radius: 5px;

  background-color: #4DB8C4;
}

.symptoms input {
  margin: 8%;
  font-size: 24px;
}

.content-type {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em;
  width: 20vw;
  /* height: 40vh; */
  border-radius: 5px;

  background-color: #EF6730;
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.category-type-buttons {
  display: flex;
  justify-content: flex-end;

}

.forward-form-btn {
  background-color: #EF6730;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  color: black;
  font-weight: 300;
  width: 150px;
}

.content-type-buttons {
  display: flex;
  justify-content: space-between;

}


.back-form-btn {
  background-color: #4DB8C4;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  color: black;
  font-weight: 300;
  width: 150px;
}

.submit-form-btn {
  /* margin-left: 50%; */
  background-color: #3C3C3C;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  color: white;
  width: 150px;
}

.content-type input {
  margin: 8%;
}
