/* .form-mood-container {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  font-size: 140%;
  margin-top: 3.5%;
}

.checkbox-container {
  display: flex;
}


.checkbox {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 2em;
  width: 40vw;
  height: 50vh;
  border-radius: 5px;
}

.checkbox input {
  margin-bottom: 10%;
  margin-right: 5%;
  cursor: pointer;
}

.form-btn {
  align-self: center;
  position: absolute;
  margin-top: 18%;
  color: white;
  padding: 7px 7px;
  background-color: #3C3C3C;
  border-radius: 6px;
}

.symptoms {
  background-color: #4DB8C4;
  
}

.content-type {
  background-color: #EF6730
} */


.input-form {
  margin: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
}

.symptoms {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 20vw;
  height: 40vh;
  border-radius: 5px;

  /* background-color: #4DB8C4; */
}

.symptoms input {
  margin: 8%;
  font-size: 24px;
}

.content-type {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 20vw;
  height: 40vh;
  border-radius: 5px;

  /* background-color: #EF6730 */
}

.content-type input {
  margin: 8%;
}
