.comments-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
}

.comments-input {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0 auto;
  width: 40%;
  padding: 10px;
  font-size: 14px;
}

.comments-submit {
  background-color: #008cba;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  min-width: 10%;
  padding: 7px 7px;
  margin-top: 15px;
  margin: 15px auto;
  cursor: pointer;
  border-radius: 6px;
}

.comments {
  margin-top: 15px;
  min-width: 100%;
  word-wrap: break-word;
  overflow: scroll;
  max-height: 300px;
}

.comment-text {
  font-size: 14px;
  margin-bottom: 20px;
}

.comment-buttons {
  display: flex;
  justify-content: flex-end;
}

.comments-text-container button {
  /* max-width: 10%; */
  font-size: 12px;
  color: blue;
  margin-left: 7px;
  margin-top: 5px;
}

.comments-text-container button:hover {
  background-color: transparent;
}

.comments-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 60%; */
  margin: 0 auto;
  word-break: break-all;
  margin-top: 20px;
}
