.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 390px;
  max-height: 400px;
  margin: 0 auto;
  margin-top: 100px;
  background-color: #e6eeff;
  border-radius: 50px;
}

.signup {
  max-height: 490px;
}

.form-container h1 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.form-inner {
  max-height: 400px;
  max-width: 300px;
  padding: 60px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-email,
.input-password,
.input-handle {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-height: 30px;
  background-color: #fff;
  border-radius: 10px;
}

.error-email,
.error-password {
}

.submit-btn {
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
}

.submit-btn:hover {
  background-color: blanchedalmond;
}

.input-email:focus,
.input-password:focus,
.input-handle:focus {
  border-color: rgba(229, 103, 23, 0.8);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none;
}
