.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e6eeff;
  max-height: 65px;
  height: 65px;
  width: 100%;
}

/* .nav-logo {
  margin: 20px 40px;
  height: 100px;
  width:100%;
} */

.logo {
  background-image: url(/static/media/logo-no-back.7a39142d.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
    width: 300px;
}
.nav-links {
  margin: 20px 40px;
}

.nav-links a {
  margin-left: 20px;
  padding: 10px 10px;
  background-color: #fff;
  border-radius: 6px;
}

.nav-logout {
  cursor: pointer;
}

.nav-links a:hover {
  border-color: rgba(229, 103, 23, 0.8);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none;
}


@media only screen and (max-width: 600px) {
  
}