.icon {
  display: none;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e6eeff;
  align-items: center;
  max-height: 65px;
  height: 65px;
  width: 100%;
  z-index: 999;
  font-weight: 600;
}

.logo {
  background-image: url(logo-no-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 70px;
  width: 300px;
}
.nav-links {
  margin: 20px 40px;
}

.nav-links a {
  margin-left: 20px;
  padding: 10px 10px;
  color: white;
  background-color: rgb(2, 167, 223);
  border-radius: 6px;
}

.nav-links a:hover {
  background-color: #ef6730;
}

.nav-logout {
  cursor: pointer;
}

.nav-links a:hover {
  border-color: rgba(229, 103, 23, 0.8);
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset,
    0 0 8px rgba(229, 103, 23, 0.6);
  outline: 0 none;
}

@media screen and (max-width: 600px) {
  .nav-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 70px;
  }

  .nav-links {
    margin: 3% 0;
  }
  /* .nav-links {
    background-color: #f9f9f9;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: e6eeff;
    padding: 10px;
  } */

  /* .icon {
    margin: 0;
    padding: 0;
    display: block;
    color: darkblue;
    background-color: transparent;
    font-size: 20px;
  } */
}
/* .dropdown:hover {
    display: inline-block;
  } */
