.quote-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.quote-box {
  margin: 15vh auto 15vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  opacity: 0.8;
  width: 40%;
  min-height: 50%;
  border-radius: 6px;
}

.quote-text {
  font-size: 20px;
  z-index: 2;
  margin: 20% 10% 10% 10%;
  font-family: Georgia, serif;
  line-height: 3.4vh;
  text-align: center;
}

.author {
  z-index: 2;
  width: 80%;
  display: flex;
  justify-content: center;
  font-family: "Sanchez", serif;
}
button:hover {
  background-color: rgb(2, 167, 223);
}
