body {
    background-color: #e6eeff;
    display: flex;
    justify-content: center;

}
.quote-box {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 700px;
    height: 500px;
    border-radius: 6px;
    
}



.quote-text {
    margin: 20% 10% 10% 10%;
    font-family: Georgia, serif;

}

.author {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    font-family: 'Sanchez', serif;

}

button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 0 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
   
    cursor: pointer;
}

button:hover {
    background-color: rgb(2, 167, 223);
    
}
