.quote-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  background-image: url("quote-bg.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

.quote-box {
  margin: 23vh auto 15vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.8);
  text: #777;
  width: 40%;
  /* min-height: 50%; */
  border-radius: 30px;
}

.quote-text {
  font-size: 20px;
  font-weight: 400;
  z-index: 2;
  margin: 5% 10% 10% 10%;
  /* font-family: Georgia, serif; */
  line-height: 3.4vh;
  text-align: center;
}

.author {
  z-index: 2;
  width: 80%;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}
button:hover {
  background-color: rgb(2, 167, 223);
}
