.video-div {   
    margin-top: 15vh;
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    background-color: white;
    /* margin: 5% */
    border-radius: 5px;
    
}

.video {
    /* height: 504px;
    width: 896px; */
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.title {
    padding: 0 1%;
}

button {
    width: 150px;
    margin: 10px 0 0 0;
}
@media only screen and (max-width: 900px) {
    .video-div {
        margin: 0px;
        padding: 0px;
    }
  }