.search-container {
  margin-top: 10%;
  font-weight: 600;
}

.content_div {
  margin: 5% 1%;
  color: #3c3c3c;
  height: 450px;
}

.result-container {
  display: flex;
  overflow: scroll;
  margin: 2%;
}

.result-container li {
  list-style-type: none;
}

.headline {
  font-size: 32px;
  text-align: center;
  color: #3c3c3c;
  font-weight: 600;
}

.headline_hr {
  width: 300px;
}

hr {
  height: 3px;
  border: none;
  background-color: #ef6730;
}

.content {
  width: 500px;
  height: 350px;
  /* height: 100%; */
  margin: 0 10px;
  background-color: #3c3c3c;
  border-radius: 25px;
  padding-bottom: 2%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-title {
  font-size: 23px;
  font-weight: 600;
}

.content img {
  max-height: 300px;
  max-width: 400px;
  overflow: hidden;
  border-radius: 20px;
}

.content video {
  border-radius: 20px;
}

.title {
  font-weight: 300;
  text-align: left;
}

.index-quote-text {
  padding: 0 6%;
}
