.search-container {
    display:flex;
    justify-content: center;
    margin-top: 8%;
}

.result-container {
    align-self: center;
    max-width: 25%;
    width: 25%;
    max-height: 590px;
    border: 1px solid black;
    overflow: scroll;
    list-style-type: none; 
    border-radius: 6px;
    margin-right: 2%;  
    margin-left: 2%;
    background-color: #e6eeffda;
    
}



.content {
    background-color: #e6eeff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    /* border: 1px solid red; */
    
}



.content h1 {
    align-self: center;
    font-size: 130%;
}

.result-container img {
    
    /* height: 180px; */
    /* height: 10%; */
    /* width: 400px; */
    
    
}

.result-container video {
    /* height: 180px;
    width: 400px; */
    
}
.result-container blockquote {
    /* height: 145px;
    width: 340px; */
    
}
