.search-container {
    margin-top: 10%
}

.content_div {
    margin: 5% 1%;
    color: #3C3C3C;
    height: 450px;
}

.result-container {
    display: flex;
    overflow: scroll;
    margin: 2%
}

.result-container li {
    list-style-type: none;
}

.headline {
    font-size: 32px;
    text-align: center;
    color: #3C3C3C;
}

.headline_hr {
    width: 300px;
}

hr {
    height: 3px;
    border: none;
    background-color: #EF6730;
}

.content {
    width: 500px;
    height: 350px;
    /* height: 100%; */
    margin: 0 10px;
    background-color:#3C3C3C;
    border-radius: 25px;
    padding-bottom: 2%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content img {
    max-height: 300px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 20px;
}

.content video {
    border-radius: 20px;
}

.title {
    font-weight: 300;
    text-align: left;
}